<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">

        <div class="navbar" style="padding: 30px; background-color: gainsboro;">
            {% if app.getUser %}<a href="{{ path('logout') }}">Выйти</a> /{% endif %} <a href="{{ path('reddit') }}">Главная</a>

            <a class="link_index" href="{{ path('sign_up') }}">Регистрация</a>/
            <a href="{{ path('app_index_popularposts') }}">Самые популярные посты</a>/
        </div>
        {% if app.getUser %}
            <a href="{{ path('app_index_myposts') }}">Мои избранные</a>
        {% else %}
            <a class="link_index" href="{{ path('sign-in') }}">Авторизация</a>
        {% endif %}

        {% block body %}
        {% endblock %}
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
