{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% for elem in post.data.children %}


        {% for elem_post in post.data.children %}

            <div style="padding:30px;height: 500px; border: 3px solid slategray">
                <h1>{{ elem_post.data.title }}</h1>
                <img style="max-width: 100%;max-height: 100%;"  src="{{ elem_post.data.url }}">
                <p style="font: 30px bold">Заголовок - {{ elem_post.data.title }}</p>
                <p style="font: 30px bold">Дата загрузки - {{ elem_post.data.created_utc | date("m/d/Y") }}</p>
                <p style="font: 30px bold">Автор - {{ elem_post.data.author}}</p>
                <p> <a href="{{ path('add_post', {'name': elem_post.data.name})}}">Добавить в избранное</a></p>

            </div>
        {% endfor %}

    {% endfor %}
{% endblock %}

