{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}

    {{ form(form) }}


    {% for post in posts %}
            <div style="border: 1px solid">
                {% if post.data.thumbnail == 'self' %}
                 <img width="500" height="500" src="http://preryvanie-beremennosti.ru/wp-content/plugins/f-seo-navigation/img/no-photo-big.gif">
                {% else %}
                <img width="500" height="500" src="{{ post.data.thumbnail }}">
                {% endif %}

                <p style="font: 30px bold">Заголовок - {{ post.data.title | truncate(50) }} </p>
                <p style="font: 30px bold">Дата загрузки - {{ post.data.created_utc  }}</p>
                <p style="font: 30px bold">Автор - {{ post.data.author | truncate(20)}} </p>

                {% if app.getUser %}
                    <form method="post" action="{{ path('app_post') }}">
                        <input name="post_id" type="hidden" value="{{ post.data.name }}">
                        <button>Посмотреть поближе</button>
                    </form>
                {% else %}
                    <p style="font-size: 25px; color: red">Для добавления в избранные, авторизуйтесь</p>
                {% endif %}
            </div>
    {% else %}
        <h3>Воспользуйтесь фильтрацией для поиска постов</h3>
    {% endfor %}

{% endblock %}


