{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Самые популярные посты</h1>
    {% for post in my_posts.data.children %}
        <div style="border: 1px solid">
            {% if post.data.thumbnail == 'self' %}
                <img width="500" height="500" src="http://preryvanie-beremennosti.ru/wp-content/plugins/f-seo-navigation/img/no-photo-big.gif">
            {% else %}
                <img width="500" height="500" src="{{ post.data.thumbnail }}">
            {% endif %}

            <p style="font: 30px bold">Заголовок - {{ post.data.title | truncate(50) }}</p>
            <p style="font: 30px bold">Дата загрузки - {{ post.data.created_utc | date("m/d/Y") }}</p>
            <p style="font: 30px bold">Автор - {{ post.data.author| truncate(20)}}</p>

        </div>

    {% else %}
        <p style="font-size: 30px">Ни одного избранного поста</p>
    {% endfor %}
{% endblock %}

